
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.ss-required-asterisk{
   color:red;
}
label.error{
color: red;
margin: 0;
}

.position_relative_left{
    position:relative;
    float:left;
}
.content-form{
    width:100%;
    max-width: 600px;
    margin:0px;
    position:relative;
    float:left;
    border-top: 5px solid #ccc;
    .content_block{
        width: 100%;
        overflow: hidden;
        font-size: 14px;
        p{
            margin: 0 0 0 0;
        }
        label{
            font-weight: normal;
            margin: 0 0 0 5px;
        }
        .ss-q-title{
            font-weight: bold;
        }
    }
    .explain, .ss-q-help, .ss-page-description{
        font-size: 12px;
        line-height: 1.3em;
        display: inline-block;
    }
    input[type="text"]{
        width: 100%;
        border: 1px solid #ccc;
        &.small-text{
            width: 200px;
        }
    }
    textarea{
        width: 100%;
        height: 100px;
    }
    .align_left{
        float: left;
        width: 45%;
        text-align: left;
        padding: 0 0 10px 0;
    }
    .align_right{
        float: right;
        width: 45%;
        text-align: left;
        padding: 0 0 10px 0;
    }
    .full-block{
        float: left;
        width: 100%;
        padding: 0 0 10px 0;
    }
}

   





