/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Oswald);

@import url(http://fonts.googleapis.com/css?family=Questrial);
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.25;
    font-size: 16px;
    font-family: 'Century Gothic',Questrial, sans-serif;
    background-repeat: repeat-x;
    background-position: right top;
    border-top: 10px solid #A5A4A2;
    &.home {
        background: url("../img/home-bg.png") no-repeat right 140px;
        .menu-main-menu-container{
            ul{
                border-bottom: 0;
            }
        }
        .wrap-content{
            max-width: 600px;
            width: 600px;
        }
    }
    #header{
        background-image: url("../img/bg.jpg");
         background-repeat: repeat-x;
        background-position: right top;
    }   
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
a, a:visited, a:hover {
    color: #0D72C7;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#header{
    float: left;
    width: 100%;    
    #logo{
        float: left;
        margin: 69px 0 15px 10px;    
    } 
    .login{
        width: 550px;
        position: absolute;
        top: 65px;
        right: 5%;
        color: #fff;
        .col5{
            float: left;
            margin:0 2px;
            a{
                font-size: 12px;
            }
        }
        input[type="text"], input[type="password"] {
            width: 140px;
        }
        input[type="button"], input[type="submit"] {
            cursor: pointer;
            line-height: 19px;
            padding: 5px 7px;
            text-decoration: none;
            width: auto;
        }        
    }   
}
.blue{
    color: #99ccff;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.menu-main-menu-container{
    height: 66px;
    float: left;
    width: 100%;
    ul{
        margin: 0;
        background: #EBF6FA;
        float: left;
        width: 100%;
        border-bottom: 2px solid #577da2;
        position: relative;
        padding: 0;
        li{
            list-style: none;
            margin-left: 25px;
            padding-top: 5px;
            float: left;
            height: 32px;
            &.current_page_parent{

            }
            &.current_page_parent{
                >a{
                    color: #f1b22f;
                }
                ul{
                    display: block;
                }
            }
            &.current_page_item{
                >a{
                    color: #f1b22f;
                }
                ul{
                    display: block;
                }
            }
            &.current_page_item{
                >a{
                    color: #f1b22f;
                }
                ul{
                    display: block;
                }
            }
            &.myfes{
                a{
                    background-image: url('../img/my.png');
                    background-repeat: no-repeat;
                    text-indent: -9999px;
                    text-align: left;
                    display: inline-block;
                    width: 64px;
                }
                li{
                    display: inline;
                    a{
                        text-indent: 0;
                        background: transparent;
                        white-space: nowrap;
                    }
                }
            }
            ul{
                display: none;
                position: absolute;
                left: 0;
                top: 34px;
                background: transparent;
                border-bottom: 2px solid #cad8e6;
                a{
                    color: #295887;
                    font-weight: bold;
                    text-decoration: underline;
                }                
            }
            a{
                color: #333;
                text-decoration: none;
                padding: 5px 0;
                &:hover{
                    color: #f1b22f;
                }
                a:active{
                    color: #f1b22f;
                }
                a:visited{
                    color: #333;
                }
            }
        }         
    }
 
}
.wrapper{
    width: 100%;
    padding: 2% 2%;
    overflow: hidden;
}
#sidebar-left{
    float: left;
    width: 240px;
    &.nodisplay{
        display: none;
    }    
}
a.display_ext_form{
    background: #0d72c7;
    color: #fff!important;
    display: none;
    padding: 8px 10px;
    border-radius: 5px;
    
}
#sidebar-right{
    float: right;
    font-size: 14px;
    width: 280px;
    h2{
        font-size: 14px;
        color: #fff;
         margin: 0 0 5px;
        font-weight: bold;
    }
    .bluebox {
        background-color: #aedfe5;
        padding: 10px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        color: #333333;
        font-family: 'Century Gothic',Questrial,sans-serif;
        font-size: 14px;
        line-height: 1.25;        
        a{
            color: #00B2D9;
            font-weight: bold;
            line-height: 2em;
             margin: 0 0 5px;         
        }
    }    
}
#main-content {
    float: left;
    width: 100%;
    .wrap-content{
        margin: 0 20px;
    }
    a{
        color: #0d72c7;
    }
    &.fullpage{
        width: 100%;
    }  
    .entry-title{
        padding: 0 0 0px 0;
        position: relative;
        font-size: xx-large;
        color: #33cccc;
        font-weight: bold;
        text-transform: uppercase; 
        img{
            margin: 0 0 20px 0;
        }       
        .entry-thumbnail{
            padding: 10px 0;
        }
        .test-dates-btb{
            position: absolute;
            right: -10px;
            top: 0px;
            display: none;
            background-color: #AEDFE5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 5px 10px;
            color: #000;  
            font-size: 14px;
            font-weight: normal;
            cursor: pointer;
        }        
    }

    blockquote{
        background-color: #ffff00;
        padding: 0;
        margin: 0;
        border-left: 0;
        p{
            font-size: 16px;
        }
    }
    .mbox {
        background-color: #eaf6f9;
        padding: 10px;
        float: left;
        max-width: 700px;
        h2{
            color: #00b2d9;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;            
        }
        .col3 {
            padding: 5px;
            float: left;
            width: 33%;
        }
        ul{
            margin: 0;
            padding: 0 0 0 23px;
        }        
    }
    .col-left{
        float: left;
        width: 47%;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .col-right{
        float: right;
        width: 47%;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}
.col2{
    width: 47%;
}

.category{
    #main-content{
        .type-post{
            overflow: hidden;
        }
        .entry-title{
            font-size: 28px;
            font-family: 'Oswald',arial,serif;
            color: #333333;
            text-transform: initial;
            a{
                 color: #333333;
                 &:hover{
                    color: #0D72C7;
                    text-decoration: none;
                 }
            }
        }
        .entry-content{
            color: #333333;
            a{
                color: #333333;
                &:hover{
                    color: #0D72C7;
                }
            }
            .entry-thumbnail{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }    
    }
}
.single{
    #main-content{
        .entry-title{
            color: #333333;
        }
    }
}
.post-meta {
    border-top: 1px solid #ddd;
    clear: both;
    font-size: 14px;
    padding: 5px 0 0;
    a{
        color: #0d72c7!important;
    }
}
#footer{
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding: 44px 0 30px 0;
    .wrap-footer{
        background: url('../img/footer-logo.png');
        background-repeat: no-repeat;
        background-position: top right;
        max-width: 960px;
        margin: 0 auto;
        font-size: 12px;
        padding: 10px 0;
        .copy{

        }
    }
    .menu-footer-menu-container{
        font-size: 11px;
        padding: 10px 0;
        ul{
            margin: 0;
            padding: 0;
            li{
                display: inline;
                a{
                    padding: 0 8px;
                    border-right: 1px solid #CCCCCC;
                }
            }
        }
    }
}
.mobile-menu{
    display: none;
}
.mobile-display{
    display: none;
}

.left-info {
float: left;
width: 540px;
}
.right-info {
float: left;
margin-left: 50px;
width: 663px;
}
.bbox {
background-color: #EAF6F9 ;
float: left ;
padding: 10px ;
}
.clearfix {
    clear: both !important;
}
.col1 {
    float: left;
    padding: 5px;
    width: 220px;
}
.bbox h2 {
    color: #00B2D9;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.bbox p {
    font-size: 14px;
    line-height: normal;
}
.col1 h2, .col2 h2 {
    font-family: Arial,Helvetica,sans-serif;
    padding: 0; 

}
.partners-logo{
    td{
        text-align: center;
        width: 25%;
        img{
            width: 80%;
            height: auto;
        }
    }
}
@media (max-width: 1270px) {
    body{
        &.home{
            background-size: 40% 40%;            
        }
 
    }
}
@media (max-width: 1185px) {
    .menu-main-menu-container ul li {
        margin-left: 14px;
    }
    #main-content .entry-title .test-dates-btb{
        display: inline-block;
    }
    #sidebar-right{
        display: none;
        position: absolute;
        right: 0;
        top: 135px;
    } 
    .entry-content{
        iframe{
            width: 100%;
        }
    }   
}
@media (max-width: 1050px) {
    .menu-main-menu-container ul li {
        font-size: 14px;
    }
    #main-content .mbox{
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .big-image{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 890px) {
    .menu-main-menu-container{
        height: auto;
        position: absolute;
        right: 0;
        top: 68px;
        max-width: 400px;
        display: none;
        z-index: 100;
        ul{
            width: 100%;
            background-color: #00b1da;
            li{
                width: 100%;
                height: auto;
                display: block;
                margin: 0;
                border-bottom: 1px solid #25bcdf;
                &.myfes a{
                    background: transparent;
                    text-indent: 0;
                    width: auto;
                }                
                a{
                    color: #fff;
                    display: block;
                    padding: 5px 0 5px 20px;
                    font-size: 16px;
                    font-weight: bold;
                }
                ul{
                    display: block;
                    position: inherit;
                    border-bottom: 0;                    
                    li{
                        a{
                            color: #fff;
                            text-decoration: none;
                            padding: 5px 0 5px 40px;
                        }
                    }
                }
            }
        }
    }
    #header{
        #logo{
            margin: 10px 0 15px 10px;
        }  
        .login{
            background: none repeat scroll 0 0 #00B1DA;
            display: none;
            max-width: 400px;
            width: 100%;
            right: 0;
            top: 68px;
            z-index: 100;
            padding: 5% 0;
            .mobile-display{
                display: inline-block;
            }
            .mobile-hidden{
                display: none;
            }          
            .col5{
                padding:5px 5%;
                width: 100%;
                a{
                    color: #fff;
                }
            }
            input[type="text"], input[type="password"] {
                width: 100%;
            }
            input[type="button"], input[type="submit"] {
                width: auto;
            }            
        }        
    }

    .mobile-menu{
        float: right;
        display: block;
        span{
            background-color: #f4b132;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            background-image: url('../img/menu-mobile.png');
            background-repeat: no-repeat;
            display: inline-block;
            padding: 40px 3px 3px;
            float: left;
            margin: 0 0 0 1px;
            &.active-nav{
                background-color:#00b1da; 
            }
            &.login-btb{
                background-position: -3px 0;
            }
            &.tweets{
                background-position: -58px 0;
                display: none;
            }
            &.mob-menu{
                background-position: -117px 0;
            }
        }
    }
    body{
        &.home{
            background:transparent;    
            .wrap-content {
                
            }                   
        }
    } 
    .col2{
        img{
            width: 100%;
            height: auto;
        }        
    }
    #main-content .mbox{
        .col3{
            width: 100%;
        }
    }
    #footer{
        float: left;
        width: 100%;
        .wrap-footer{
            padding: 63px 0 10px;
            background-position: top center;
            .copy{
                text-align: center;
            }        
        }        
    }
    #footer .menu-footer-menu-container{
        ul{
            text-align: center;
            li a {
                display: inline-block;
                padding: 5px 8px;
            }        
        }
    }         


}
.btn-iframe{
 display: none;   
}
@media (max-width: 780px) {
    .mobile-menu{
        span{
            &.tweets{
                display: inline-block;
            }
        }
    }
    #sidebar-left{
        display: none;
        position: absolute;
        width: 100%;
        max-width: 400px;
        right: 0;
        top: 68px;
        background-color: #00b1da;
        padding: 10px;
        z-index: 100;
        .minitweets{
            float: inherit;
            iframe{
                width: 100%;
            }
        }
    }
    .wrapper{
        float: left;
        overflow: visible;
    }
    #main-content{
        width: 100%!important;
        max-width: 100%!important;
    }
    #main-content .wrap-content{
        max-width: 96%;
        margin: 0 2%;
    }    
    body.home .wrap-content{
        max-width: 96%;
        margin: 0 2%;
    }
    .entry-content{
        iframe{
            width: 100%;
            max-width: 100%;
            overflow: hidden;
        }
    }
    #footer{
        background-image: url("../img/footer-bg-mob.png");
        background-position: left top;
        background-repeat: no-repeat;
        padding: 23px 0 30px;
    }
    .left-info{
        width: 100%;
    }
    .right-info{
        width: 100%;
        margin-left: 0px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
@media (max-width: 600px) {
    .video-container{ 
        position: relative;

    } 
    .entry-content iframe, .entry-content object, .entry-content  embed { 
        top: 0; 
        left: 0; 
        width: 100%!important; 
        height: 300px!important; 
        z-index: 100;
    } 
    .rightinfo2{
        img{
            width: 100%;
            height: auto;
        }
    }     
    #main-content .entry-title{
        img{
            width: 50%;
            height: auto;
        }
    }
    .btn-iframe{
        display: block;
    }
    .iframe-form{
        display: none;
    }
    a.display_ext_form{
        display: inline-block;
    }
}
@media (max-width: 480px) {
    #header #logo{
        width: 50%;
        img{
            width: 100%;
        }
    }
    .col2{
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .col1{
        width: 100%;
    }
    #main-content{
        .mbox{
            .col3{
                width: 100%;
            }
        }
        .entry-title{
            img{
                height: auto;
                width: 50%;
            }
        }        
    } 
    #commentform{
        input[type="text"]{
            width: 100%;
        }
        textarea{
            width: 100%;
        }
    }

}



