/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-size: 16px;
    font-family: 'Century Gothic',Questrial, sans-serif;
    &.home {
        background: url("../img/home-bg.png") no-repeat right 70px;
    }    
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.menu-main-menu-container{
    background: #EBF6FA;
    border-bottom: 0px solid #FFF;
    height: 32px;
    padding-left: 100px;
     a:hover, a:active, li.current_page_parent a, li.current_page_parent a:visited, li.current_page_item a, li.current_page_item a:visited {
        color: #f1b22f;
        text-decoration: none;
    }
        a:visited {
        color: #333;
        text-decoration: none;
    }
    ul{
        margin: 0;
        li{
            list-style: none;
            margin-right: 25px;
            padding-top: 5px;
        }         
    }
 
}
.wrapper{
    width: 96%;
    padding: 2% 2%;
}
#sidebar{
    float: left;
    width: 240px;
}
.rightside {
    float: left;
    padding-left: 20px;
    width: 600px;
}











